@font-face{
    font-family: edo;
    src: url(../fonts/edosz.ttf);
}
@font-face{
    font-family: vcr;
    src: url(../fonts/VCR_OSD_MONO_1.001.ttf);
}


:root{
    --vcrFont: vcr, helvetica;
    --edoFont: edo, Impact, Haettenschweiler, sans-serif;

    --large: 50px;
    --medium: 40px;
    --small: 20px;


    --mtextColor: hsla(0, 0%, 100%, 0.7);
    --mtextColorLight: hsla(0, 0%, 95%, 1);

    --linkColor: hsl(300, 100%, 60%);
    --linkColorVisited: hsl(280, 100%, 60%);

    --bgColorLight: hsl(250, 100%, 25%); /*also known as #15007f */
    --bgColorLighter: hsl(250, 100%, 50%);
    --bgColorDark: hsl(230, 50%, 10%);

}



/* -------------- MAIN LAYOUT -------------- */
html,body{
    min-height: 100vh;
    margin: 0;
}

header,main,footer{
    margin: 0 auto;
    max-width: 1024px;
    box-sizing: border-box;
}

main{
    min-height: 100vh;
}




/* -------------- INNER LAYOUT -------------- */

#mainNav{
    width: 100%;
    display: flex;
    justify-content:  space-between;
    flex-wrap: wrap;
}


#mainNav a{
    min-width: 10%;
    padding: 5px 30px 0 5px;
}




footer{
    min-height: 500px;
    padding: 20px 20px 50px;

    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
footer *{
    max-width: 700px;
}

main section{
    margin-top: 20%;
    padding: 50px 20px;
}
main section p{
    text-align: justify;
}

main section img{
    margin: 20px;
}

/* @media for inner layout */
/*Small*/
@media (max-width: 850px){
    #mainNav a{
        width: 100%;
        padding: 10px 0 0 15px;
    }
    #floatinghelper{
        position: fixed;
        bottom: 0; right: 0;
    }
}
/*Large*/
@media (min-width: 851px){
    #mainNav{
        position: fixed;
        top: 0;
        max-width: 1024px;
        background-color: var(--bgColorDark);
    }
    #floatinghelper{
        display: none;
        visibility: hidden;
    }
}

/* #mainNav fix */
#mainNav, #floatinghelper{
    z-index: 10;
}


#intro,
#music,
#retro{
    display: flex;
    flex-flow: column;
}

/* give an opportunity to see more of the background */
img[src="media/endb.svg"]{
    margin-bottom: 10%;
}


/* -------------- FLUFF -------------- */
body{
    background-color: var(--bgColorDark);

    background: 
    var(--bgColorDark) 
    url('../media/demo.svg') no-repeat center fixed;
    background-size: 80% 80%;
}

body, #mainNav a, #floatinghelper{
    font-family: var(--vcrFont);
    text-shadow: 1px 1px 2px black;
    color: var(--mtextColor);
    font-size: var(--small);
}

header h1 {
    font-family: var(--edoFont);
    font-size: var(--large);
    color: var(--mtextColorLight);
    margin: calc(var(--large)*1.5) 20px;
    text-shadow: 
    2px 2px 1px rgb(0, 255, 136),
    -2px -2px 1px rgb(204, 0, 255);
}


#mainNav a{
    text-decoration: none;
    border-bottom: 5px solid var(--bgColorLight);
    transition: border .5s;
}
#mainNav a:hover,#mainNav a:focus{
    color: var(--mtextColorLight);
    border-color: var(--bgColorLighter);
    transition: border .3s;
}


section {
    background-color: var(--bgColorLight);
    border-top: 1px solid var(--bgColorLighter);

    background: 
    var(--bgColorLight) 
    url('../media/demoF.svg') no-repeat center fixed;
    background-size: 80% 80%;
}

section h2{
    font-size: var(--medium);
    color: var(--mtextColorLight);
    margin: 0;
}

section a{
    color: var(--linkColor);
}
section a:visited{
    color: var(--linkColorVisited);
}
section a:hover{
    opacity: .9;
}



address {
    font-family: edo, Helvetica, sans-serif;
    font-size: var(--medium);
}
address a {
    color: var(--linkColor);
}

/* top section spacing */
#intro{
    margin: 30px 0 0 0;
}


/* bg gfx fix , because of last "section"v bottom image cuts bg off*/
#similar{
    position: relative;
    z-index: 1;
}
#similar::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0; bottom: 0;
    z-index: -1;
    background: linear-gradient(hsla(0, 0%, 0%, 0),var(--bgColorLight))
}



/* ------ content fluff ------- */


.artist a{
    color: var(--linkColor);
}
.artist a:visited{
    color: var(--linkColorVisited);
}





/* back up helper */
#floatinghelper{
    background: var(--bgColorDark);
    opacity: .8;
    padding: 15px;
    transition: background 1s;
}
#floatinghelper:hover{
    background: var(--bgColorLighter);
    opacity: 1;
    transition: background 1s;
}






/* js inserted elements and class */

.show,
.hide{
    position: relative;
    bottom: 0;
}
.show{
    opacity: 1;
    transition: opacity .5s, transform 1s;
}
.hide{
    position: absolute;
    transform: translateY(-30px);
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: opacity .5s, transform 1s;
}


#subNav{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: 5px;
}
#subNav button{
    text-shadow: 1px 1px 2px black;
    color: var(--linkColor);
    font-family: var(--edoFont);
    font-size: var(--medium);
    border: none;
    background: none;
    transition: color .2s;
}
#subNav button:hover{
    color: var(--linkColorVisited);
    transition: color .2s;
    cursor: pointer;
}
#subNav button:active{
    opacity: .6;
}
#subNav span{
    margin: auto;
    color: var(--linkColorVisited);
}


@media (max-width:500px){
    #subNav button{
        font-size: var(--small);
    }
}


/* article ('similar artist') 'special' layout */
#similar article{
    margin: 30px 10px 0;
    display: grid;
    grid-template: 
        "song   title" calc(var(--medium) * .8)
        "song   desc" auto
        / auto auto;
    gap: 20px;
}
#similar iframe{
    grid-area: song;
}
#similar h3{
    grid-area: title;
}
#similar p{
    grid-area: desc;
}


@media (max-width: 850px){
    #similar article{

        border-bottom: 1px solid var(--bgColorLighter);
        padding-top: 10px;

        margin: 30px 10px 0;
        display: grid;
        grid-template: 
            "song" auto
            "title" calc(var(--medium) * .8)
            "desc" auto
            / auto;
        gap: 20px;
    }
    #similar iframe{
        margin: auto;
        grid-area: song;
    }
    #similar h3{
        grid-area: title;
    }
    #similar p{
        grid-area: desc;
    }

}

@media (max-width: 450px){
    /* The '!importand' is needed to overwrite the iframe inline style.
        Only in edge cases should using such operators be considered.
    */
    #similar iframe{
        width: 100% !important;
        height: calc(1.2 * 100vw) !important;
        min-height: 400px;
    }
}


